<!DOCTYPE html>  
<html>  
<head>  
<meta charset="ISO-8859-1" />  
</head>  
<body>  
  
   <form action="/signup" method="post">  
         Name:<input type="text" name="name"><br> 
         Username:<input type="text" name="username"><br> 
         Password:<input type="password" name="password"><br>
         Confirm Password:<input type="password" name="password2"><br>
         Email:<input type="email" name="email"><br>
         Role:<select defaultValue="admin" name="value">
                 <option value="admin">admin</option>
                 <option value="client">client</option>
              </select> 
               <input type="submit" value="login">  
   </form>  
 </body>  
</html> 